// The card layout does not change depending on screen size, so there are no media queries.

.card {
  height: 21.875rem;
  width: 23.25rem;
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  margin: 2rem;

  .card__top {
    height: 33%;
    background-image: url(../images/bg-pattern-card.svg);
    border-radius: 10px 10px 0px 0px;
    background-repeat: no-repeat;
    background-size: cover;
  }

  .card__middle {
    height: 37%;
    background-color: white;
    border-bottom: 1px solid $darkGray;

    img {
      // picture size: 96x96
      border-radius: 50%;
      border: 5px solid white;
      position: relative;
      transform: translateX(-50%) translateY(-50%);
      left: 50%;
    }

      h4 {
        position: relative;
        top: -2rem;
        text-align: center;
        span {
          color: $darkGray;
        }
      }

      .city {
        font-size: 0.85rem;
        color: $darkGray;
        position: relative;
        top: -1.4rem;
        transform: translateX(-50%) translateY(-50%);
        left: 50%;
      }

  }

  .card__bottom {
    height: 20%;
    background-color: white;
    border-radius: 0px 0px 10px 10px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 0 1rem;

    ul {
      text-align: center;
      list-style: none;
      line-height: 1.2rem;

      li {
        font-family: Kumbh Sans;
        font-size: 0.7em;
        font-weight: 400;

        &:nth-child(2) {
          letter-spacing: 2px;
          color: $darkGray;
        }
      }
    }

  }
}
