$bg-width: 978px;

// Mobile (default) styles
body {
  background-image: url(../images/bg-pattern-top.svg), url(../images/bg-pattern-bottom.svg);
  background-repeat: no-repeat, no-repeat;
  background-position: -40rem -30rem, right -40rem bottom -30rem;
}

// Desktop styles. The breakpoint was determined by Frontend Mentor's style guide, I would have used a different width, personally.
@media screen and (min-width:376px) {
  body {
    background-image: url(../images/bg-pattern-top.svg), url(../images/bg-pattern-bottom.svg);
    background-repeat: no-repeat, no-repeat;
    background-position: -35rem -32rem, right -35rem bottom -32rem;
  }
}