.card {
  height: 21.875rem;
  width: 23.25rem;
  display: flex;
  flex-direction: column;
  border-radius: 10px;

  .card__top {
    height: 33%;
    background-image: url(../images/bg-pattern-card.svg);
    border-radius: 10px 10px 0px 0px;
  }

  .card__middle {
    height: 37%;
    background-color: white;
    border-bottom: 1px solid $darkGray;

    img {
      // picture size: 96x96
      border-radius: 50%;
      border: 5px solid white;
      position: relative;
      transform: translateX(-50%) translateY(-50%);
      left: 50%;
    }

      h4 {
        position: relative;
        top: -2rem;
        text-align: center;
        span {
          color: $darkGray;
        }
      }

      .city {
        font-size: 0.85rem;
        color: $darkGray;
        position: relative;
        top: -1.4rem;
        transform: translateX(-50%) translateY(-50%);
        left: 50%;
      }

  }

  .card__bottom {
    height: 20%;
    background-color: white;
    border-radius: 0px 0px 10px 10px;
  }
}
